@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" type="text/css">
<div class="text-center">
    <strong>
        <em>
            <h2 style="color: #000000" class="display-4"><strong>¿Qué servicio brindamos? </strong></h2>
            <font size="6"  <p>  Te brindamos envíos de productos en toda el área metropolitana con <br/>
                       excelentes tarifas y rapidez para que todo llegue a tiempo y completo. </p></font>
        </em>
    </strong>
              <video src="~/images/video1.mp4" width="640" height="480" autoplay muted loop></video>
    <strong>
        <em>
            <h2 style="color: #000000" class="display-4"><strong>¿Cómo funciona? </strong></h2>
            <font size="6"  <p>  Todo comienza desde la puerta de tu casa. No necesitas movilizar  <br/>
                       tu mercancía a ninguna parte, nuestros mensajeros tiene la capacidad de recoger<br/>
                       y entregar tus productos en cualquier parte del área metropolitana. </p></font>
        </em>
    </strong>
</div>

 
