@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" type="text/css" >
<div class="text-center">
    <em>
    <h1 style="color: #000080" class="display-4"><font face=”CourierNew”>¡Bienvenidos!</font> </h1>
    </em>
   <br />
   <br />
   <br />
   <br />
   <br />
   <br /> 
   <br /> 
   <br />
   <br />
   <br />  
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
   <br />
</div>



